[submodule "magic_dict"]
	path = magic_dict
	url = git@github.com:daniel-davee/magic_dict.git
[submodule "ask"]
	path = ask
	url = git@github.com:daniel-davee/ask.git
[submodule "run_cmd"]
	path = run_cmd
	url = git@github.com:daniel-davee/run_cmd.git
